.shell {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;

  min-block-size: 100dvh;

  > main {
    overflow: auto;

    margin-block: 1rem;
  }

  .navbar {
    position: sticky;
    inset-block-end: 0;
  }
}
