.navbar {
  --offset: 1.5rem;

  position: relative;
  z-index: 1;

  display: grid;
  grid-template-rows: var(--offset) auto;

  margin-block-start: calc(-1 * var(--offset));

  &::before {
    content: "";

    grid-column: 1 / -1;
    grid-row: 2 / -1;

    background-color: var(--mantine-color-body);
  }

  > ul {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;

    list-style: none;

    margin: 0;
    padding: 0.5rem 1rem 1rem;

    > li {
      a {
        color: var(--mantine-color-text);

        display: grid;
        justify-items: center;
        gap: 0.5rem;

        text-decoration: none;

        svg {
          font-size: 1.5rem;
        }

        &.active {
          color: var(--mantine-primary-color-filled);
        }

        .circle {
          background-color: var(--mantine-primary-color-filled);
          color: var(--mantine-color-body);

          display: inline-grid;
          place-content: center;

          padding: 1rem;

          border-radius: 999rem;

          svg {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
