.toolbar {
  .top {
    display: flex;
    gap: var(--mantine-spacing-md);

    .actions {
      margin-inline-start: auto;
    }
  }

  &:not(.no-margin) {
    margin-block-end: var(--mantine-spacing-md);
  }
}
