.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding-block: 0.5rem;

  .name {
    color: inherit;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;

    svg {
      margin-block-start: -0.5em;

      font-size: 2em;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
